{% extends 'base.html.twig' %}

{% block title %}O'F ~ Notre blog{% endblock %}

{% block body %}
<section class="articles">
  {% for article in articles %}
  <div class="article">
    <h2>{{article.title}}</h2>
    <div class="metadata">
      <p>Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}}
        dans la catégorie news</p>
    </div>
    <div class="content">
      <img src="{{ article.image}}"/>
    {{ article.content | raw }}
      <a href="{{ path('of_show', {'id' : article.id})}}"><button>Lire la suite ...</button></a>
    </div>
  </div>
  {% endfor %}
</section>
<a href="{{ path('of_create')}}"><button>Créer un nouvel article</button></a>
{% endblock %}
